header{
  
  display: flex;
  background-color: #755C54;
}

h1, h2{
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: 30px;
  color:whitesmoke

}
header img{
  display: flex;
  width: 300px;
}
body{
  background-color: #F58968;
}
div{
  width: 90%;
  display: flex;
  margin: 30px;
}
figure {
  border: thin black solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

figure img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  padding: 3px;
  text-align: center;
  background-color: #755C54;
}

#contest{
  background-color: #C26C51;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F7C2B1;
}

#contest img{
  margin: 30px;
  
}

#contest article li{
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F7C2B1;
}

#locations{
  display: flex;
  margin: 30px;
  
}

#locations li{
  margin: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #755C54;
}


table, td{
  margin: 1.5em;
  padding: 10px;
  border: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
}

th{
  margin: 1.5em;
  padding: 10px;
  font-weight: bold;
  border: 1px solid;
}

footer{
  background-color: #755C54;
  max-height: 130px;
  display: flex;
  
  
}